.pagina-right-finalizacao {
    padding: 15px;
    width: calc(100% - 334px);
    overflow-y: auto;
    display: flex;
    grid-gap: 15px;
    flex-direction: column;
}

@media screen and (max-width: 810px) {
    .pagina-right-finalizacao {
        width: 100%;
        height: 400px;
    }
}

/*INICIO TABELAS*/
.identificadores-div {
    max-height: 50%;
    overflow: auto;
}

.acessorios-div {
    max-height: 50%;
    overflow-y: auto;
}

.identificadores-div h1,
.acessorios-div h1 {
    color: #5c3161;
    font-size: 1.6rem;
}

.identificadores-table {
    width: 100%;
    border-collapse: collapse;
}

.identificadores-table th,
.identificadores-table td {
    border: 1px solid #ddd;
    padding: 0.1rem;
    text-align: left;
    white-space: nowrap;
}

.identificadores-table th {
    background-color: #3f83bd;
    color: #ffffff;
    padding-right: 10px;
}

.identificadores-table tbody tr:hover {
    background-color: #f2f2f2;
}

.identificadores-table td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.acessorios-table {
    width: 100%;
    border-collapse: collapse;
}

.acessorios-table .button-quantidade {
    background-color: #5c3161;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    color: white;
    border: none;
    outline: none;
}

.acessorios-table > tbody > tr > td:nth-child(2) {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.acessorios-table .trash-icon,
.identificadores-table .trash-icon {
    cursor: pointer;
}

.acessorios-table th,
.acessorios-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.acessorios-table th {
    background-color: #3f83bd;
    color: #ffffff;
    padding-right: 10px;
}

.acessorios-table tbody tr:hover {
    background-color: #f2f2f2;
}

.acessorios-table td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.acessorios-table th:first-child,
.identificadores-table th:first-child {
    border-top-left-radius: 5px;
}

.acessorios-table th:last-child,
.identificadores-table th:last-child {
    border-top-right-radius: 5px;
}

.acessorios-table td:first-child,
.identificadores-table td:first-child {
    border-bottom-left-radius: 5px;
}

.acessorios-table td:last-child,
.identificadores-table td:last-child {
    border-bottom-right-radius: 5px;
}

.identificadores-table > tbody > tr > td:nth-child(12) > img {
    width: 25px;
}
/*FINAL TABELAS*/

/*INICIO MODAL */
.modal {
    position: absolute;
    max-width: 800px;
    padding: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 14px;
    margin: 25px;
}

.x-button {
    position: absolute;
    right: 25px;
    cursor: pointer;
}

/*FINAL MODAL*/

/*INICIO CARRINHO BLOCK*/
.carrinho-block {
    width: 100%;
    position: relative;
    padding: 15px;
    border: 1px solid #5c3161;
    border-radius: 14px;
    margin-bottom: 15px;
}

.thrash-div {
    position: absolute;
    right: 15px;
}

.form-line span:first-child {
    font-weight: bold;
}

.form-line-logo-and-form {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.form-line-textarea {
    display: flex;
    flex-direction: column;
}

.form-line-textarea textarea {
    resize: none;
}

.logo-div {
    width: 140px;
    height: 140px;
    border: 1px solid #5c3161;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-div img {
    width: 100%;
}

.form-line-same-line {
    display: flex;
    grid-gap: 15px;
}

@media screen and (max-width: 430px) {
    .form-line-logo-and-form {
        display: flex;
        grid-gap: 10px;
        align-items: center;
    }
}

/*FINAL CARRINHO BLOCK*/